*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    color: #666666;
    background: RGB(223, 207, 190);
  }

  /* logo area */
.logo{
    height: auto;
    width: 100%;
    text-align: center;
    color: white;
}

/* header area start*/
.header{
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header h1{
    text-transform: uppercase;
}
/* header area end*/

/* nav area start */
.nav{
    height: 80px;
    width: 100%;
    background: beige;
    display: inline-block;
}
.nav_style{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 80px;
}

.nav .nav_style a{
    padding: 10px;
    text-decoration: none;
}

.nav .nav_style a:hover{
    background: lightsalmon;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* nav area end */

/* content area start */
.content{
    height: 600px;
    width: 100%;
    display: inline-block;
}

.content .about-part{
    height: 600px;
    width: 50%;
    background: rgb(107, 100, 93);
    float: left;
    text-align: center;
    color: white;
}

.content .about-part h1{
    padding: 20px;
}

.content .about-part p{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.content .link-part{
    height: 600px;
    width: 50%;
    background: royalblue;
    float: left;
}

.content .link-part .link-part1{
    height: 300px;
    width: 100%;
    color: white;
    background: slategrey;
    text-align: center;
}

.content .link-part .link-part1 p{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.content .link-part .link-part2{
    height: 300px;
    width: 100%;
    color: white;
    background: tan;
    text-align: center;
}

.content .link-part .link-part2 p{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.content .link-part button{
    padding: 10px;
}

.content .link-part button:hover{
    background: black;
    color: white;
}
/* content area end */

/* footer area start*/
.footer{
    height: auto;
    width: 100%;
    background: black;
    display: inline-block;
}

.footer #footer-item{
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    text-align: center;
}

.footer .menu #menu-item{
    padding: 8px;
}

.footer .menu #menu-item a{
    text-decoration: none;
}

#footer-item #email{
    width: 100%;
    height: 36px;
}

#footer-item .button{
    margin-top: 5px;
    padding: 5px 10px;
    color: white;
    background: burlywood;
    float: right;
    font-size: 14px;
    font-weight: 400px;
}

#footer-item .button:hover{
    background: white;
    color: black;
}
/* footer area end */

